
body {
  font-size: .83rem;
  font-family: Arial;
  word-spacing: normal;
  line-height: 18px; 
}

h1   { font-size: 1.4rem; }
h2   { font-size: 1.2rem; }
h3   { font-size: 1.1rem; }

code { 
  font-family: 'Courier New'; 
  font-size: .76rem;
  letter-spacing: -1px;;
}

ul {
  margin-bottom: 30px;
}

.right {
  float: right;
  margin: 30px;
}

.search-input {
  width: 220px !important;
}

